In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('country_wise_latest.csv')

In [3]:
df

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [4]:
df.shape

(187, 15)

In [5]:
df.sample(10)

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
127,Oman,77058,393,57028,19637,1053,9,1729,0.51,74.01,0.69,68400,8658,12.66,Eastern Mediterranean
171,Tunisia,1455,50,1157,248,3,0,15,3.44,79.52,4.32,1381,74,5.36,Eastern Mediterranean
148,Seychelles,114,0,39,75,0,0,0,0.00,34.21,0.00,108,6,5.56,Africa
29,Cabo Verde,2328,22,1550,756,21,0,103,0.95,66.58,1.42,2071,257,12.41,Africa
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
100,Liechtenstein,86,1,81,4,0,0,0,1.16,94.19,1.23,86,0,0.00,Europe
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
17,Belize,48,2,26,20,0,0,0,4.17,54.17,7.69,40,8,20.00,Americas
47,Denmark,13761,613,12605,543,109,0,77,4.45,91.60,4.86,13453,308,2.29,Europe
109,Mauritania,6208,156,4653,1399,37,0,223,2.51,74.95,3.35,5923,285,4.81,Africa

In [6]:
df.columns

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

In [7]:
df.isnull().sum()

Country/Region            0
Confirmed                 0
Deaths                    0
Recovered                 0
Active                    0
New cases                 0
New deaths                0
New recovered             0
Deaths / 100 Cases        0
Recovered / 100 Cases     0
Deaths / 100 Recovered    0
Confirmed last week       0
1 week change             0
1 week % increase         0
WHO Region                0
dtype: int64

In [8]:
df = df.rename(columns={"Country/Region": "country", "Deaths / 100 Cases": "death_per_100", "Recovered / 100 Cases": "recovered_per_100"})

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.country

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
182    West Bank and Gaza
183        Western Sahara
184                 Yemen
185                Zambia
186              Zimbabwe
Name: country, Length: 187, dtype: object

In [11]:
df.columns

Index(['country', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases',
       'New deaths', 'New recovered', 'death_per_100', 'recovered_per_100',
       'Deaths / 100 Recovered', 'Confirmed last week', '1 week change',
       '1 week % increase', 'WHO Region'],
      dtype='object')

In [12]:
df.Confirmed

0      36263
1       4880
2      27973
3        907
4        950
       ...
182    10621
183       10
184     1691
185     4552
186     2704
Name: Confirmed, Length: 187, dtype: int64

In [13]:
df.groupby('country')['Confirmed'].sum().sort_values(ascending=False).tail(10)

country
Fiji                     27
Timor-Leste              24
Saint Lucia              24
Grenada                  23
Laos                     20
Dominica                 18
Saint Kitts and Nevis    17
Greenland                14
Holy See                 12
Western Sahara           10
Name: Confirmed, dtype: int64

In [14]:
df.columns

Index(['country', 'Confirmed', 'Deaths', 'Recovered', 'Active', 'New cases',
       'New deaths', 'New recovered', 'death_per_100', 'recovered_per_100',
       'Deaths / 100 Recovered', 'Confirmed last week', '1 week change',
       '1 week % increase', 'WHO Region'],
      dtype='object')

In [22]:
df.groupby('country')['Deaths'].sum().sort_values(ascending=False).head(10)

country
US                148011
Brazil             87618
United Kingdom     45844
Mexico             44022
Italy              35112
India              33408
France             30212
Spain              28432
Peru               18418
Iran               15912
Name: Deaths, dtype: int64

In [26]:
((df.Confirmed / df.Deaths) * 100).sort_values(ascending=False)

19            inf
49            inf
30            inf
55            inf
142           inf
          ...
61     729.352575
85     701.429711
16     676.318469
177    658.118838
184    350.103520
Length: 187, dtype: float64

In [27]:
(df.Deaths / df.Confirmed * 100).sort_values(ascending=False)

184    28.562980
177    15.194824
16     14.785934
85     14.256596
61     13.710790
         ...
141     0.000000
130     0.000000
142     0.000000
168     0.000000
181     0.000000
Length: 187, dtype: float64

In [31]:
death_rate = (df['Deaths'] / df['Confirmed']) * 100
df['death_rate'] = death_rate

In [32]:
df.death_rate

0       3.499435
1       2.950820
2       4.157581
3       5.733186
4       4.315789
         ...
182     0.734394
183    10.000000
184    28.562980
185     3.075571
186     1.331361
Name: death_rate, Length: 187, dtype: float64

In [37]:
df[['death_rate', 'country']].sort_values(ascending=False, by='death_rate')[:10]

     death_rate         country
184   28.562980           Yemen
177   15.194824  United Kingdom
16    14.785934         Belgium
85    14.256596           Italy
61    13.710790          France
77    13.399281         Hungary
120   11.532773     Netherlands
111   11.131030          Mexico
157   10.436787           Spain
183   10.000000  Western Sahara

In [43]:
df[df['country'] == 'India']['death_rate'].values[0]

np.float64(2.2571859631247917)